  
<div id="content">

  <%# スライド表示 %>
  <div class="first-view">
    <h1>スライド表示</h1>
    <div class="hero">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
        </div>
        <div class="hero__footer">
        
          <span class="hero__scrolltext">scroll</span>
        </div>
      </div>
    </div>
  </div>
  

  <div id="main-content">
    <main>
      <div id="home-content">
        <%# お知らせ %>
        <section class="info">
          <div class="home-info">
            <h1>お知らせ表示</h1>
          </div>
        </section><br>
        
        <section class="movie">
          <%# 動画 %>
          <div class="home-movie">
            <h1>動画表示</h1>
          </div>
        </section><br>
        

        <%# アクセス情報 %>
        <div class="access">
          <div class="access__right access__info" >
            <B>アクセス情報</B>
          </div>
          <div class="access__left google_map" >
            <p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.9851001102334!2d130.43827531528797!3d33.55376345128081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354190fab73648d3%3A0x1ba2ed539d874980!2z5LqV5bC744Kt44Oq44K544OI6ZuG5Lya!5e0!3m2!1sja!2sjp!4v1609940759232!5m2!1sja!2sjp"
                      width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </div>
      

      <div class="local-nav">
        <p>ローカルナビゲーション</p>
        <%# 聖書の御言葉 %>
        <div class="word-of-God">
          <h1>御言葉</h1>
        </div>

        <%# カテゴリー等 %>
      </div>
    </main>
  </div>

</div>