<% provide(:title, 'お知らせ') %>

<div class="info-layout__topics" >
  <div class="info-layout__topics-heading">
    <div class="info-layout__topics-heading-base">
      <h2>
        <span lang="ja">お知らせ</span>
      </h2>
      
    </div>
  </div>
  <div class="info-layout__topics-body">
    <div class="info-layout__topics-panel">
      <div class="info-layout__topics-list">
        <%= @info.title %>
        <%= @info.content %>
        
      </div>
    </div>
  </div>
</section>

<section class="c-page-sub-topics__content">
  <main class="c-page-sub-topics__main" role="main">
    <article class="c-page-sub-topics__article">
      <header class="c-page-sub-topics__article-header">
                
        <div class="c-page-sub-topics__article-title">
                    <h2>工学部水理衛生工学実験室の出火について</h2>
        </div>
                <time class="c-page-sub-topics__article-time" datetime="2021-4-16">2021年4月16日</time>
      </header>
      <div class="c-page-sub-topics__article-body">
        <section class="c-content-main">
          <!-- ここから -->
                    <!-- ここまで -->
        </section>
      </div>
              <div class="c-page-sub-topics__btn-back">
        <a href="/news/" id="c-page-sub-topics__btn-back-a">一覧に戻る</a>
      </div>
    </article>
  </main>
</div>