<div class="contents">

<%= link_to "動画投稿", new_movie_url, class: "" %>

  <% @movies.each do |movie|%>
    <div class="movie__title">
      <%= movie.title %>
    </div>
    <div class="content__movies">
      <iframe src="https://www.youtube.com/embed/<%= movie.youtube_url %>"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen width="560" height="315" >
      </iframe>
    </div>
  <% end %>
</div>