<% provide(:title, "#{@article.issue_date.strftime("%Y年%m月%d日")}/#{@article.letter.filename}") %>
<div>
  <%= @article.issue_date.strftime("%Y年%m月%d日") %><br>
  <%= link_to '別タブで開く', rails_blob_path(@article.letter), target: "_blank", rel: "noopener noreferrer", class: "btn btn-sm btn-primary" %>
  <%= link_to '管理者専用ページへ戻る', admin_pages_path, class: "btn btn-sm btn-secondary" %>
</div>
<div>
  <iframe class="article-item" src="<%= pdfjs.full_path(file: "#{rails_blob_path(@article.letter)}") %>"></iframe>
</div>
