<h1>管理者専用画面</h1>

<div id="content">
  <div id="admin-main">
    <%# ユーザー関連 %>
    <div id="">
      <h2>ユーザー一覧、投稿</h2>
    </div>

    <%# お知らせ関連 %>
    <div id="">
      <h2>お知らせ一覧、投稿</h2>
    </div>
    <%# お便り関連 %>
    <div id="">
      <h2>お便り一覧、投稿</h2>
    </div>
    <%# 動画関連 %>
    <div id="">
      <h2>動画一覧、投稿</h2>
    </div>
    <%# 写真関連 %>
    <div id="">
      <h2>写真一覧、投稿</h2>
    </div>
  </div>
</div>