<header class="admin-header">
  <div class="header__inner appear up">
    <div class="logo item">
      <span class="logo__stay">井尻キリスト集会</span>
    </div>
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__li item">
          <%= link_to "メンバーページへ", member_pages_path, class: 'admin-btn nav-link' %>
        </li>
        <li class="header__li item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'admin-btn nav-link' %>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
