/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
// .travel {
//   &__inner {
//     padding: 50px 150px;
//   }
// }

// .popular {
//   &__item {
//     flex-basis: 23%;
//   }
// }

// .side {
//   display: block;
// }

/* 御言葉 */
// .local-nav{
//   width: 300px;
// }

// viewerContainer
.article__contents {
  padding: 5px 50px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 100%;
  // min-height: 50px;
  // height: auto !important;
  height:1200px;
}
