/******************************************************************

Stylesheet: 350px以上(スマホの縦向き)のモニタで適用
※iPhone 5/SEは、320px

******************************************************************/
.hum-nav {
  width: 280px;
}


/* お便り */

.article__contents {
  padding: 5px 5px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 75%;
  // min-height: 50px;
  // height: auto !important;
  height:520px;
}

/* 動画 */

.movie {
  width: 80%;
//   margin: 0 auto;
}

// .movie__inner {
//   flex-direction: row;
//   flex-basis: 100%;
//   margin-bottom: 40px;
// }
