/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
// ヘッダー
.header {
  height: $navHeight;
  
  & .logo {
    font-size: 24px;
  }
}

// ハンバーガボタン
.toggle_btn {
  margin-top: 6px;
}

.hum-nav {
  width: 300px;
}

.menu-icon {
  top: 20px;
}

#header-space {
  height: $navHeight;
  // background-color: white;
}


/* お便り */

.article__contents {
  padding: 5px 5px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 75%;
  // min-height: 50px;
  // height: auto !important;
  height:520px;
}

/* 動画 */

.movie__inner {
  // flex-direction: row;
  flex-basis: 50%;
  // margin-bottom: 40px;
}

.movie {
  width: 50%;
  // margin: 0 auto;
}