/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
// ヘッダー
.header {
  height: $navHeight;
  
  & .logo {
    font-size: 32px;
  }
}

// ハンバーガボタン
.toggle_btn {
  margin-top: 6px;
}

.hum-nav {
  width: 300px;
}

#header-space {
  height: $navHeight;
  // background-color: white;
}

// お便り
.article__contents {
  padding: 5px 5px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 75%;
  // min-height: 50px;
  // height: auto !important;
  height:520px;
}
