/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

// .travel {
//   &__inner {
//     padding: 50px;
//   }

//   &__img,
//   &__texts {
//     flex-basis: 47%;
//   }

//   &__texts {
//     display: flex;
//     align-items: flex-end;
//   }
// }

// .houses {
//   &__item {
//     flex-basis: 50%;
//     margin-bottom: 60px;
//   }
// }

// .popular {
//   &__container {
//     justify-content: space-between;
//   }
//   &__item {
//     flex-basis: 47%;
//   }
// }

.footer {
  & .logo {
    justify-content: flex-start;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }
}


/* アクセス情報 */

.access {
  & .google_map {
    padding-top: 55%;
  }
}


/* お便り */

.article__contents {
  padding: 5px 5px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 80%;
  // min-height: 50px;
  // height: auto !important;
  height:800px;
}


/* アルバム */

.gallery__outer {
  // text-align: center;
  text-align: left;
  // margin-left: 35px;
}


/* 動画 */

.movie {
  width: 100%;
  margin: 0 5px 0 -5px;
  
  &__inner {
    // flex-direction: row;
    flex-basis: 50%;
    // margin-bottom: 40px;
  }
}
