/******************************************************************

Stylesheet: 7000px以上のモニタで適用

******************************************************************/

/* 動画 */

.movie {
  width: 100%;
  
  &__inner {
    // flex-direction: row;
    flex-basis: 33%;
    // margin-bottom: 40px;
  }
}
