/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150x !important;
}

// .popular {
//   &__item {
//     flex-basis: 25%;
//   }
//   &__img {
//     height: 335px;
//   }
// }

// ヘッダー
.header {
  height: $_980NavHeight;
  
  &__nav {
    display: block;
  }

  & .logo {
    font-size: 24px;
  }
}

// ハンバーガーメニュー
#nav-area {
  //非表示
  display: none;
}
// ハンバーガーメニューボタン
.toggle_btn {
  height: 30px;
}

.open .toggle_btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}


#header-space {
  height: $_980NavHeight;
  // background-color: white;
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

// .travel {
//   &__img{
//     height: 400px;
//   }

//   &__description {
//     margin-bottom: 40px;
//   }

//   &__title {
//     &::before {
//       display: block;
//     }
//   }
// }

.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

main{
  display: flex;
  min-height: 100vh;
  margin: 10px 0 10px 0;
}
#home-content{
  flex: 1;
  flex-flow: column;
  background-color: #eee;
  text-align: center;
  margin-right: 15px;
}

// .info {

// }

.local-nav{
  text-align: center;
  background-color: #888;
  color: #fff;
  width: 270px;
}

// お便り
.article__contents {
  padding: 5px 50px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 90%;
  // min-height: 50px;
  // height: auto !important;
  height:1000px;
}
