/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.modal-content {
  border-radius: 15px 15px 15px 15px;
}

// --ここから-------------------------------------------
/* universal */

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

// max-width
.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

/* alert */

#alert {
  width: 94%;
  margin: 0 auto;
  max-width: 1070px;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ajax(非同期)アクション時のフラッシュ表示位置
#flash_msg_js {
  margin: -24px 0 20px 0;
}

/* モーダルウインドウの位置調整 */

// .modal-dialog-center {
  // padding-top: 10%;
// }

/* ボタンの上下位置調整 */
.btn-block {
  margin: 15px 0;
}

// --ここまでapplication.scssから移動-------------------------

.content-width {
  width: 94%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
  display: block;
}
.flex {
  display: flex;
  flex-direction: column;
}
// .purple {
//   color: $cWineRed;
// }

#container {
  background-color: $cWhite;
  // position: relative;
  z-index: 10;
  transition: transform 0.5, box-shadow 0.5;
}

#content {
  padding-top: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $baseNavHeight;
  // background-color: transparent;
  background-color: green;
  display: flex;
  align-items: center;
  z-index: 100;

  box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  // &.triggered {
  //   background-color: rgba(255, 255, 255, 0.9);
  //   box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  // }

  &__nav {
    display: none;
  }
  
  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 24px;
    justify-content: center;

    & a:hover {
      text-decoration: none;
    }
  }
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

#header-space {
  height: $baseNavHeight;
  // background-color: white;
}

#menu-bar {
  // padding-top: $navHeight;
  display: flex;
  // background-color: $cBgGray;
  @extend .content-width;
}

#main-content {
  @extend .content-width;
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.logo {
  font-size: 24px;
  display: flex;

  &__img {
    width: 0.7em;
  }
}

// .body {
  // margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // font-size: 1rem;
  // font-weight: 400;
  // line-height: 1.5;
  // color: #212529;
  // text-align: center;
  // background-color: #fff;
// }

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 24px;
    justify-content: center;

    & a:hover {
      text-decoration: none;
    }
  }
}

.icon {
  position: relative;

  @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* お便り */

// 年ボタン
#all-articles {
  margin-left: 10px;
  @extend .font-sm;
}
.article__year_list {
  margin-top: 7.7px;
  margin-bottom: 7px;
  padding-left: 0;

  & > li {
    display: block;

    & > .article-wrap {
      padding-left: 0px;
      padding-right: 0px;
      // color: rgb(112, 122, 138);
      display: inline-block;
    }
  }
}

.article-year {
  padding-left: 0px;
  padding-right: 0px;
  // color: rgb(112, 122, 138);
  
  // クリックされる前、初期状態
  box-sizing: border-box;
  margin: 0px 16px 3px 0px;
  cursor: pointer;
  min-width: auto;
  // color: rgb(132, 142, 156);
  
  // クリックされた後 
  &:hover {
    border-bottom: 3px solid $cLoader;
    border-top-color: $cLoader;
    border-right-color: $cLoader;
    border-left-color: $cLoader;
    color: $cLoader;
  }  
}
// 表示中のもの
.selected-article {
  border-bottom: 3px solid $cLoader;
  border-top-color: $cLoader;
  border-right-color: $cLoader;
  border-left-color: $cLoader;
}

// 年ボタンここまで

.article__contents {
  padding: 5px 0px;
  margin: 0 auto;
  text-align: center;
}

.article-item {
  // min-width: 50px;
  // width: auto !important;
  width: 100%;
  // min-height: 50px;
  // height: auto !important;
  height:500px;
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  // width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  // margin-right: auto;
  // margin-left: auto;
}

/* 動画 */

.movie__inner {
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  font-size: 80%; 
  padding: 20px;
  flex-direction: row;
  flex-basis: 100%;
  margin-bottom: 40px;
}

.movie__title {
  height: 50px;
}

.movie {
  width: 100%;
  margin: 0 auto;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  /* overflow: hidden; */
  height: 120px;
}

.modal-title {
  text-align: center;
}

.movie__modal-header {
  background: rgba(238, 238, 238, 1);
  border-radius: 15px 15px 0 0;
}

.movie__modal-body {
  background-color: #c2e4bc;
  border-radius: 0 0 15px 15px;
} 

.movie__link {
  display: inline-block;
}

.movies__member {
  padding: 40px 40px 40px 40px;
  border: solid 3px #eee;
  border-radius: 15px;
}

.movies__no_member {
  padding: 40px 40px 40px 40px;
  border: solid 3px #eee;
  border-radius: 15px;
}

/* お便りページ */

.article__list {
  padding-bottom: 10px;
} 
.article__list li {
  font-size: large;
  display: inline-block;
  padding-right: 10px;
  border-bottom: dotted 1px;
}

.article__list span {
  padding-right: 10px;
  padding-left: 10px;
}

.article__year_list li {
  font-size: large;
  display: inline-block;
  padding-right: 10px;
  /* border-bottom: dotted 1px; */
}

.article__year_list span {
  padding-right: 10px;
  padding-left: 10px;
}

/* ギャラリー */

#gallery {
  text-align: left;
}

.gallery__outer {
  text-align: center;
  margin-left: 0;
  // margin-left: 35px;
}

.gallery__inner {
  display: inline-block;
  text-align: center;
  border: 1px #fafaeb solid;
  margin: 0 5px 0 0;
  margin-bottom: 10px;
  padding: 8px;
}

.gallery__inner_display_off {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px #fafaeb solid;
  margin: 0 5px 0 0;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f2f2f2;
  opacity: 0.5;
  .display-off-text:before {
    position: absolute;
    content: "非表示";
    top: 75px;
    left: 75px;
    color: #fff;
    font-size: xx-large;
    text-shadow: 0 0 3px #f00, 0 0 3px #f00, 0 0 3px #f00,
                 0 0 3px #f00, 0 0 3px #f00, 0 0 3px #f00,
                 0 0 3px #f00, 0 0 3px #f00, 0 0 3px #f00,
                 0 0 3px #f00, 0 0 3px #f00, 0 0 3px #f00,
                 0 0 3px #f00, 0 0 3px #f00, 0 0 3px #f00,
                 0 0 3px #f00;
    opacity: 1;
  }
}

.gallery___image {
  height: 150px;
  width: 220px;
}

.gallery__title {
  font-size: 1rem;
  color: #303030;
}

.title_tag {
  text-align: left;
}

.far {
  color: #06a506;
}

.category_tag {
  padding: 6px 0;
  text-align: left;
  border-bottom: solid 2px #06a506; 
}

.gallery__form-group {
  margin-bottom: 35px;
  btn-outline-secondary {
    background-color: #ccc;
  }
}

.gallery__modal-header {
  background-color: #eee;
  border-radius: 15px 15px 0 0;
}

.gallery__modal-body {
  background-color: #c2e4bc;
  border-radius: 0 0 15px 15px;
}
