// scss内変数
$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;

$cLoader: #33CC33;
$contentMaxWidth: 1070px;
$baseNavHeight: 73px !important;
$navHeight: 80px;
$_980NavHeight: 90px;

