<% provide(:title, 'Members Movies Page') %>

<div class="members-index" style="-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: #ccc solid 2px; font-size: 100%; background-color: #eee;">

  <h2><i class="fas fa-video"></i>&nbsp;メンバー動画一覧</h2>

  <div class="conteiner">

    <div><%= "　" %><%= link_to "動画投稿画面へ", new_admin_pages_movie_path, remote: true, class: "" %></div>

    <section class="movie container" id="member-movie">
      <%= render 'index_form' %>
    </section>

  </div>

</div>

<div id="edit-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-movie" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
