<% provide(:title, 'ギャラリー') %>

<div id="flash_msg_js"></div>
<h2><i class="fas fa-camera"></i>&nbsp;ギャラリー一覧</h2>

<div class="container">

  <div id="gallery">
    <div class="gallery__group">
      <div class="gallery__new">
        <% if user_signed_in? && current_user.admin? %>
          <div class="text-right">
            <%= link_to "新規登録", new_gallery_path, remote: true, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <h4 class="title_tag"><i class="far fa-images"></i>&nbsp;ギャラリー</h4>
      <div id="gallery__index">
        <%= render 'index' %>
      </div>
    </div>
  </div>
</div>

<div id="new-gallery" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-gallery" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
