@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

// max-width
.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

/* ボタンの上下位置調整 */
.btn-block {
  margin: 15px 0;
}