@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";

@import 'modules/variables';
@import 'modules/mixin';
@import 'modules/appear';
@import 'modules/button';
@import 'modules/hero-slider';
@import 'modules/text-animation';
@import 'modules/image-slide';
@import 'modules/mobile-menu';
@import 'modules/hum-menu';

@import "breakpoints/base";
@import "home_page";
@import "member_pages";
@import "admin_pages";

@media (min-width: 350px) {
  @import "breakpoints/350up";
}

@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media (min-resolution: 192dpi)
      ,(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

@media print {
  @import "breakpoints/print";
}


/* table */

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

/* row */

.row {
  // display: flex;
  // flex-wrap: wrap;
  // margin-right: -15px;
  margin-left: 0px;
}

/* botton */

// element.style {
// }
// .btn:not(:disabled):not(.disabled) {
//     cursor: pointer;
// }

.btn {
    position: relative;
    display: inline-block;
    // background-color: silver;
    border: 1px solid black;
    font-weight: 600;
    padding: 5px 20px;
    margin: 2px auto;
    cursor: pointer;
    transition: all 0.3s;
    /* color: black; */
    text-decoration: none !important;
}

.btn-success {
    color: #fff;
    background-color: #2bad41;
    border-color: black;
}

.btn-danger {
  color: #fff;
  background-color: #ee170c;
  border-color: black;
}

.btn-primary {
  color: #fff;
  background-color: #0066FF;
  border-color: black;
}

/* Top Page */
// #menu-bar {
//   // background-color: rgb(6, 165, 6);
// }

// .logo {
//   // color: darkgreen;
// }

#home-content {
  background-color: rgb(194, 228, 188)
}
.local-nav {
  background-color: rgb(24, 87, 24);
}

/* container */

.container {
  // padding: 15px 15px;
  margin: 0 -7px;
}

/* summernote-rails */

.note-group-image-url {
  display: none;
}

.note-image-btn {
  display: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 動画 */

// .embed-responsive {
  // position: relative;
  // display: block;
  // width: auto;
  // height: auto;
  // padding: 0;
  // overflow: hidden;
// }

/* ギャラリー */

.gallery__title {
  display: inline-block;
  /* background: #fff; */
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  margin-left: 10px;
  /* margin-bottom: 10px;
  padding: 8px; */
}

.gallery__inner {
  display: block;
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
}