@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";

@import 'modules/variables';
@import 'modules/mixin';
@import 'modules/appear';
@import 'modules/button';
@import 'modules/hero-slider';
@import 'modules/text-animation';
@import 'modules/image-slide';
@import 'modules/mobile-menu';

@import "breakpoints/base";
@import "home_page";
@import "member_page";
@import "admin_page";

@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media (min-resolution: 192dpi)
      ,(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

@media print {
  @import "breakpoints/print";
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

