/******************************************************************

Stylesheet: ホームページスタイル

******************************************************************/
// メソッド

// スライダー


// お知らせ
.info__contents {
  text-align: left;
}

// 動画
.movie {
  @extend .content-width;
  @extend .mb-lg;
  @extend .flex;

  &__inner {

    &__item {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 30%;
    }
    
    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    } 
  }
}

// @media
#home-content {
  .movie {
    margin-bottom: 0px !important;
  }
}

// アクセス情報
.access {
  @extend .content-width;

  &__right {
    // display: inline-block;
  }

  &__left {
    display: inline-block;
  }

  & .google_map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 0% !important;
    
    & iframe {
      // position: absolute;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
    }
  }
}

// 御言葉
.word-of-God {
  color: #fff;
  text-align: center;
}