@import 'modules/variables';

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;
  pointer-events: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 25px;
  border: 2px solid $cLoader;
  background-color: #fff;
}

.pace .pace-progress {
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  transition: width 1s ease-in-out 1s linear;
  transform: translate3d(0, 0, 0);
  max-width: 190px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 15px;
  font-size: 12px;
  background: $cLoader;
  color: $cSubTitle;
  line-height: 60px;
  font-weight: bold;
  font-family:  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
}

.pace.pace-inactive {
  display: none;
}