/******************************************************************

Stylesheet: メンバーページスタイル

******************************************************************/

/* sudbar */
.sm_sidebar {
  // padding: 2em 0 0 1.5em;
}

/* main-content */
.sm_main_content {
    // padding-top: 2em;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

object {
  margin: 0 auto;
}