/******************************************************************

Stylesheet: メンバーページスタイル

******************************************************************/

/* sudbar */
.sm_sidebar {
  // padding: 2em 0 0 1.5em;
}

/* main-content */
.sm_main_content {
    // padding-top: 2em;
}

.container {
  padding: 15px 15px;
  margin: 0 auto;
}

// .article__contents {
//   padding: 5px 5px;
//   margin: 0 auto;
// }

// お便り
// .article-item {
//   min-width: 50px;
//   width: auto !important;
//   width: 100%;
//   // min-height: 50px;
//   // height: auto !important;
//   height:480px;
//   // margin: auto auto;
// }