<% provide(:title, 'お知らせ編集') %>
<% provide(:class_text, 'info-edit') %>
<% provide(:button_text, '更新') %>

<h2>お知らせ編集</h2>
<div class="container">
  <%= link_to "お知らせ一覧ページへ", infos_path, class: "btn btn-success" %>
<%# <div class="content"> %>
  <h3><%= @info.category %></h3>
  <%= render 'form', info: @info %>
</div>

  