<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <!--<li><%= message %></li>-->
        <% message2 = message.gsub(",","<br>") %>
        <%= message2.html_safe %> 
      <% end %>
    </ul>
  </div>
<% end %>