<div class="footer appear up">
  <div class="logo item">
    <span class="logo__stay">井尻キリスト集会</span>
  </div>
  <nav class="footer__nav">
    <ul class="footer__ul">
      <% if user_signed_in? %>
        <li class="footer__li item"><a href="<%= root_path %>">ホーム</a></li>
        <%# <li class="footer__li item"><a href="#">定期集会</a></li>
        <li class="footer__li item"><a href="#">特別集会</a></li> %>
        <li class="footer__li item"><a href="<%= galleries_path %>">ギャラリー</a></li>
      <% else %>
        <li class="footer__li item"><a href="#">ホーム</a></li>
      <% end %>
    </ul>
    <div class="footer__copyright item">
      &copy; Ijiri　
    </div>
  </nav>
</div>
