<!--global nav-->
<div id="gnav" class="default-nav">
	<div class="container">
		<div class="col12">
			<nav id="menu">
        <ul id="menu-header-menu-1" class="global-nav global-nav-default">
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-128"><a href="https://bible-hca.com" aria-current="page"><i class="fa fa-home" aria-hidden="true"></i> ホーム</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3417"><a href="https://bible-hca.com/guide/">初めての方へ</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="https://bible-hca.com/about/"><i class="fa fa-building" aria-hidden="true"></i> 集会とは</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a href="https://bible-hca.com/about/brethren/">キリスト集会とは</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4734"><a href="https://bible-hca.com/shepherd/">牧会者紹介</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1363"><a href="https://bible-hca.com/bible_lecture/biginners_1_bible/">聖書Web講座１</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1691"><a href="https://bible-hca.com/faq/">よくある質問 FAQ</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="https://bible-hca.com/about/gallery/"><i class="fa fa-picture-o" aria-hidden="true"></i> ギャラリー</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4562"><a href="https://bible-hca.com/israel_tour/">イスラエルツアー</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-129"><a href="https://bible-hca.com/ministries/"><i class="fa fa-book" aria-hidden="true"></i>  定期集会</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6926"><a href="https://bible-hca.com/category/ministries/sunday/">日曜・福音集会</a></li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6928"><a href="https://bible-hca.com/category/ministries/thursday/">聖書メッセージの集い</a></li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6927"><a href="https://bible-hca.com/category/ladies/lady-ladies/">レディースタイム</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="https://bible-hca.com/ministries/bible-room-2/">京阪守口バイブルルーム</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-130"><a href="https://bible-hca.com/special/"><i class="fa fa-star" aria-hidden="true"></i> 特別企画</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3098"><a href="https://bible-hca.com/?cat=31">特別聖書講演会</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207"><a href="https://bible-hca.com/special/temmabashi_bible_club/">天満橋バイブル倶楽部</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4919"><a href="https://bible-hca.com/photo_course/"><i class="fa fa-camera" aria-hidden="true"></i> 写真教室</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3549"><a href="https://bible-hca.com/hangulcafe/">ハングル・カフェ</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-6941"><a href="https://bible-hca.com/special/2021-utagoe/">歌声サークル</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1870"><a href="https://bible-hca.com/kids/olive/salon/">ふれあい子育てサロン</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131"><a href="https://bible-hca.com/ladies/"><i class="fa fa-female" aria-hidden="true"></i> レディ-ス</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3034"><a href="https://bible-hca.com/ministries/lady/">レディースタイム</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="https://bible-hca.com/kids/olive/salon/">ふれあい子育てサロン</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132"><a href="https://bible-hca.com/youth/"><i class="fa fa-user" aria-hidden="true"></i> ユース</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-182"><a href="https://bible-hca.com/youth/bc/">バイブルサ-クル</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2343"><a href="https://bible-hca.com/youth/bc/photo/">BCフォトギャラリー</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2337"><a href="https://bible-hca.com/youth/bc/photo/camp_spring/">春のバイブルキャンプ</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2342"><a href="https://bible-hca.com/youth/bc/photo/bbq-2/">BBQ大会</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2341"><a href="https://bible-hca.com/youth/bc/photo/night-2/">BCナイト</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2338"><a href="https://bible-hca.com/youth/bc/photo/camp_summer/">夏のバイブルキャンプ</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2339"><a href="https://bible-hca.com/youth/bc/photo/sports-2/">スポーツ大会</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2340"><a href="https://bible-hca.com/youth/bc/photo/xmas/">クリスマスパーティー</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="https://bible-hca.com/youth/yc/">ヤングクラス</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-133"><a href="https://bible-hca.com/kids/"><i class="fa fa-child" aria-hidden="true"></i> キッズ</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-175"><a href="https://bible-hca.com/kids/cs/">ジョイキッズ</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2519"><a href="https://bible-hca.com/kids/cs/festa/">お楽しみ会</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2539"><a href="https://bible-hca.com/kids/cs/wakuwaku/">わくわく探検隊</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3812"><a href="https://bible-hca.com/kids/cs/summercamp/">サマーキャンプ</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3611"><a href="https://bible-hca.com/kids/cs/xmas/">クリスマス会</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a href="https://bible-hca.com/kids/olive/salon/">ふれあい子育てサロン</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-700"><a href="https://bible-hca.com/access/"><i class="fa fa-paper-plane" aria-hidden="true"></i> アクセス</a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="https://bible-hca.com/access/map/"><i class="fa fa-map-o" aria-hidden="true"></i> 地図</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6179"><a href="https://bible-hca.com/contact/">お問合せ</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://bible-hca.com/sitemap/"><i class="fa fa-sitemap" aria-hidden="true"></i> サイトマップ</a></li>
            </ul>
          </li>
        </ul>
			</nav>
		</div>
	</div>
</div>
<!--end global nav-->

