
<header class="header">
  <div class="header__inner appear up">
    <div class="logo item">
      <span class="logo__stay">井尻キリスト集会</span>
    </div>
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__li item"><a href="#">ホーム</a></li>
        <li class="header__li item"><a href="#">定期集会</a></li>
        <li class="header__li item"><a href="#">特別集会</a></li>
        <li class="header__li item"><a href="<%= galleries_path %>">ギャラリー</a></li>
        <li class="header__li item">
          <button class="btn float">Contact</button>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu__btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
