<ul>
  <% if user_signed_in?%>
    <li class="header__li item">
        <%= link_to 'メンバー専用画面', member_pages_path, class: 'nav-link' %>
    </li>
    <li class="header__li item">
      <%= link_to '管理者専用画面', admin_pages_path, class: 'nav-link' if current_user.admin?%>
    </li>
  <% else %>
    <li class="header__li item">
      <%= link_to "当集会の兄弟姉妹はこちら", new_user_session_path, class: 'nav-link' %>
    </li>
  <% end %>
</ul>