/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150x !important;
}

// .popular {
//   &__item {
//     flex-basis: 25%;
//   }
//   &__img {
//     height: 335px;
//   }
// }

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

// .travel {
//   &__img{
//     height: 400px;
//   }

//   &__description {
//     margin-bottom: 40px;
//   }

//   &__title {
//     &::before {
//       display: block;
//     }
//   }
// }

.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.admin-nav{
  display: inline-block;
  text-align: center;
  // background-color: #888;
  // color: #fff;
  width: 230px;
}

.admin-main{
  // display: flex;
  // min-height: 100vh;
  // margin: 10px 0 10px 0;
}




