<div class="modal-dialog modal-dialog-center justify-content-center">
  <div class="modal-content">
    <div class="modal-header gallery__modal-header">
      <div class="col-10 offset-1">
        <h3 class="modal-title">ギャラリー登録</h3>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body gallery__modal-body">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="row">
            <div class="gallery__form">
              <%= render 'form', { gallery: @gallery, url: admin_pages_galleries_path } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
